{% extends "base.html" %}

{% block content %}
  <h2>references</h2>
      <div class="table_responsive">
        <div class="table table-sm table-borderless mb-0">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Reference</th>
                <th scope="col">Author</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <ul>
                <tr>
                  <td> <a>##</a> </td>
                  <td> <a>##</a> </td>
                  <td> <a>##</a> </td>
                </tr>
            </ul>
          </table>
        </div>
      </div>
{% endblock content %}

<h1> References </h1>

This is a list of References
